
body{
    margin: 0;
    font-family: 'Roboto';
    font-weight: 400;   
    background: white; 
    color: #700748;
    width: auto;
}       


h1 {            
    background: #72cddb;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    padding: 2px;
    color: white;
    font-size: 5rem;
}

header {
    font-size: 2.5rem;
    font-style: italic;
    position: sticky;
    top: 0;
    background: rgb(14, 172, 124);
    color: rgb(23, 73, 180);

    display: flex;
    align-items: center;
    height: 15rem;
}

section {
  scroll-margin-top: 15rem; /* coincide con la altura del header */
  padding: 20px;
  
}





/**********************************************************************/
/***************************    about  ********************************/
/**********************************************************************/
#about  {
    background: rgb(240, 255, 37);
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

#about h2{
    font-size: 3.5rem;
}

#about p{
    font-size: 2.5rem;
    text-align: justify;
}


/**********************************************************************/
/***************************    skills  ******************************/
/**********************************************************************/
#skills{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem; 
}

#skills h2{
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
}

#skills li{
    font-size: 2.7rem;
    margin: 5px;
}


/**********************************************************************/
/***************************    experience  ***************************/
/**********************************************************************/

/**************************  area form      ***************************/
#experience {
    background-color: #1D3C41;
    color: white;
    padding: 1rem;
    
    
}

#exp_columns{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem; 
}

.Topic_exp{   /*eliminar*/
    margin: 0rem;
}

/**************************  text and size form      ***************************/
#experience h2{
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
}

.topic_exp h3 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;   
    margin: 1px;
    min-height: 6rem;
    
}

.topic_exp p{
    text-align: justify;
    font-size: 1.2rem;
    font-weight: normal;
    
    
    
}


#experience ul{
    font-style: italic;
}










/**********************************************************************/
/******************  Styling the profile picture    *******************/
/**********************************************************************/

.profile-picture {
    width: 200px;           /* Makes the image a reasonable size */
    height: auto;           /* Maintains the aspect ratio */
    border-radius: 20%;     /* Makes the image circular */
    border: 3px solid #11a53d; /* decorative border */
    display: block;         /* Ensures margin works properly */
    margin: 1rem auto;      /* Centers the image horizontal */
}



/**********************************************************************/
/***************************    connect  *****************************/
/**********************************************************************/
#connect {
    background: #44a1bd;
    color: rgb(230, 228, 213);
    padding: 5px;
}



#conn_columns{
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    gap: 1rem; 
}


.topic_conn{
    margin: 25px;
}


#connect ul{
    font-style: italic;
    
}






/**********************************************************************/
/***************************    Leave a Message  *****************************/
/**********************************************************************/

form {
  margin-bottom: 200px;
}

input,
textarea {
  display:block;

  padding: 0.4rem;
  width: 40rem;
  max-width: 250px;
}

button {
  padding: 1rem 1rem;
  cursor: pointer;
}
















/**********************************************************************/
/***************  link socio media part of connect ********************/
/**********************************************************************/

#github-icon {
    width: 5rem;           /* Makes the image a reasonable size */
    height: auto;           /* Maintains the aspect ratio */
    border-radius: 20%;     /* Makes the image circular */
    display: block;         /* Ensures margin works properly */
    margin: 10 auto;      /* Centers the image horizontal */

}

#linkedin-icon {
    width: 5rem;           /* Makes the image a reasonable size */
    height: auto;           /* Maintains the aspect ratio */
    border-radius: 20%;     /* Makes the image circular */
    display: block;         /* Ensures margin works properly */
    margin: 10 auto;      /* Centers the image horizontal */
    
}

#instagram-icon {
    width: 5rem;           /* Makes the image a reasonable size */
    height: auto;           /* Maintains the aspect ratio */
    border-radius: 20%;     /* Makes the image circular */
    display: block;         /* Ensures margin works properly */
    margin: 10 auto;      /* Centers the image horizontal */
    
}





/**********************************************************************/
/********************   Screen to differen device  ********************/
/**********************************************************************/

 /********************     Styles for  smartphone      ****************/
 @media (max-width:549px) {
    body{
        background: #e7c632;
    }

    h1{
        background: rgb(110, 117, 3) ;
        font-style: normal;
        font-size: 3rem;        
    }

 header {
        font-size: 1.5rem;
        font-style:normal;
        background: #939609;
        color: #500e9b;
    }

#about  {
    background: rgb(186, 194, 71);
}

#about p{
    font-size: 1rem;
    text-align: center;
}

#about h2{
    font-size: 2rem;
}


#experience h2{
    font-size: 2rem;
}

.topic_exp h3 {
    font-size: 1rem;   
    min-height: 2rem;

}

.topic_exp p{
    font-size: 0.9rem;
}

#skills h2{
    font-size: 2rem;
}

#skills li{
    font-size: 1.2rem;
}



  input,
  textarea,
  button {
    width: 100%;
    font-size: rem;
  }




 }



 /********************     Styles for  table     ********************/
 @media (min-width:550px) and (max-width:767px) {
    body{
        background: #425ae2;
    }

    h1{
        background: rgb(13, 83, 104) ;
        font-size: 3rem;        
    }

 header {
        font-size: 2rem;
        background: #6293dd;
    
    }

#about  {
    background: rgb(66, 221, 169);

}

#about p{
    font-size: 1.5rem;
    text-align: center;
}

#about h2{
    font-size: 2.5rem;
}


#experience h2{
    font-size: 2.5rem;
}

.topic_exp h3 {
    font-size: 1.5rem;   
    min-height: 2rem;

}

.topic_exp p{
    font-size: 1rem;
}

#skills h2{
    font-size: 2.5rem;
}

#skills li{
    font-size: 1.7rem;
    margin: 5px;
}

 }


  /********************     Styles for PC small    ******************/
 @media (min-width:768px) and (max-width:1024px) {
    body{
        background: #51ce77;
    }

    h1{
        background: rgb(12, 136, 22) ;
        font-size: 3.5rem;        
    }

 header {
        background: #97b9eb;
    
    }

#about  {
    background: rgb(51, 172, 131);
}

#about h2{
    font-size: 3rem;
}

#about p{
    font-size: 2rem;
    text-align: center;
}


#experience h2{
    font-size: 3rem;
}

.topic_exp h3 {
    font-size: 2rem;   
    min-height: 4rem;

}

.topic_exp p{
    font-size: 1rem;
}

#skills h2{
    font-size: 3rem;
}

#skills li{
    font-size: 2.2rem;
    margin: 5px;
}

 }




   /********************      Styles for  PC desk    ******************/
 @media (min-width:1025px) {
    body{
        background: #4e98ec;
    }

    h1{
        background:  #40587c;       
    }

 header {
        background: rgb(39, 198, 247);
    }

#about  {
    background: rgb(27, 119, 88);
}

 }
