body{
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto';
    font-weight: 400;    
    color: #700748;
}       

h1 {
    background: #72cddb;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    padding: 20px;
    color: white;
    font-size: 50px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 25px;
}

p{
    font-size: 20
}

#About  {
    background: rgb(240, 255, 37);
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    color: #1d079e;

}

#Experience {
    background-color: #1D3C41;
    color: white;
    padding: 30px 0;
    
}

#Exp_columns{
    display: flex;
}


.Topic_exp{
    margin: 5px;
}

#Experience ul{
    font-style: italic;
}



#Connect {
    background: rgb(216, 14, 14);
    color: rgb(230, 228, 213);
    padding: 5px;
}

#Conn_columns{
    display: flex;

}

.Topic_conn{
    margin: 25px;
}


#Connect ul{
    font-style: italic;
    
}

/* Styling the profile picture */
.Profile-picture {
    width: 200px;           /* Makes the image a reasonable size */
    height: auto;           /* Maintains the aspect ratio */
    border-radius: 20%;     /* Makes the image circular */
    border: 3px solid #11a53d; /* decorative border */
    display: block;         /* Ensures margin works properly */
    margin: 0 auto;      /* Centers the image horizontal */
}

#github-icon {
    width: 100px;           /* Makes the image a reasonable size */
    height: auto;           /* Maintains the aspect ratio */
    border-radius: 20%;     /* Makes the image circular */
    display: block;         /* Ensures margin works properly */
    margin: 0 auto;      /* Centers the image horizontal */
}

#linkedin-icon {
    width: 100px;           /* Makes the image a reasonable size */
    height: auto;           /* Maintains the aspect ratio */
    border-radius: 20%;     /* Makes the image circular */
    display: block;         /* Ensures margin works properly */
    margin: 0 auto;      /* Centers the image horizontal */
}

#instagram-icon {
    width: 100px;           /* Makes the image a reasonable size */
    height: auto;           /* Maintains the aspect ratio */
    border-radius: 20%;     /* Makes the image circular */
    display: block;         /* Ensures margin works properly */
    margin: 0 auto;      /* Centers the image horizontal */
}